{% extends "catalog/base.html" %}

{% block content %}

  {% if form.errors %}
    <p class="text-alert">Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
      
    </table>

    <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Log In</button>
    </div>
    <input type="hidden" name="next" value="{{ next }}" />
  </form>

  
  <div class="border-top pt-3">
    <div class="form-group">
        <a href="{% url 'password_reset' %}">Lost password?</a>


        <small class="text-muted">
            Need An Account? <a href="{%url 'register' %}" class="ml-2">Sign Up Now</a>
        </small>
    </div>
  </div>
{% endblock %}