
{% extends "catalog/base.html"%}
{%block title%} 
<title> Book List borrowed by {{user.get_username}}</title>
{%endblock%}

{% block content %}
<h1>Local Library Home</h1>
  
  <h2>Book List:</h2>

  {% if bookinstance_list %}
  <p>Your current borrowed Books:</p>
  
  
    {% for copy in bookinstance_list %}
      <p><strong>Book Title:</strong><a href="{% url 'book-detail' copy.book.id%}"> {{ copy.book.title }} </a></p>
      <p class="{% if copy.is_overdue %}text-danger{% else %}text-success{% endif %}">
         <strong>Due to back:</strong> {{ copy.due_back }}
      </p>

    <p><strong>Imprint:</strong> {{ copy.imprint }}</p>
    <p class="text-muted"><strong>Id:</strong> {{ copy.id }}</p>

     {% endfor %}



  {% else %}
    <p>There are no books in the library.</p>

  {% endif%}

 


  {% block pagination %}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
  {% endblock %}
{% endblock content%}
