
{% extends "catalog/base.html"%}
{%block title%} 
<title> Book List for all borrowers </title>
{%endblock%}

{% block content %}
<h1>Local Library Home</h1>
  
  <h2>Borrowers List:</h2>

  {% if bookinstance_list %}
  <p>All borrowed Books currently:</p>
  
   
    {% for copy in bookinstance_list %}
    <div class="container">
      <p class="text-muted"><strong>Borrower:</strong> {{ copy.borrower }}</p>
      <p><strong>Book Title:</strong><a href="{% url 'book-detail' copy.book.id%}"> {{ copy.book.title }} </a></p>
      <p class="text-info">
         <strong>Due to back:</strong> {{ copy.due_back }}
      </p>
      <p class="text-muted"><strong>Id:</strong> {{ copy.id }}</p>
    </div>
     {% endfor %}



  {% else %}
    <p>There are no books in the library.</p>

  {% endif%}

 


  {% block pagination %}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
  {% endblock %}
{% endblock content%}
